:root {
  color-scheme: light dark;
  
  background-color: light-dark(#ffffff, #222222);
  color: light-dark(#000000, #ffffff);
}

toolbar {
  background-color: rgba(136, 0, 0, 0.40);
  color: #ffffff;
  font-size: x-large;
  text-overflow: ellipsis;
  font-family: Arial, sans-serif;
  font-weight: bold;
  text-align: center;
  overflow: hidden;
  white-space: nowrap;
  border-radius: 22px;
  padding: 15px;
  position: fixed;
  box-shadow: 0px 0px 72px 0px rgba(34, 60, 80, 0.3);
  width: 91%;
  box-sizing: border-box;
  max-width: 1012px;
  max-height: 60px;
  transform: translate(0px, -40px);
  border: 1px solid #cc6666;
  
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(2px);
}

.icon {
  border-radius: 8px;
  position: fixed;
  align-items: flex-start;
  display: flex;
}

@media (min-width: 560px){
  toolbar {
    background-color: rgba(136, 0, 0, 0.40);
    color: #ffffff;
    font-size: x-large;
    text-overflow: ellipsis;
    font-family: Arial, sans-serif;
    font-weight: bold;
    text-align: center;
    overflow: hidden;
    white-space: nowrap;
    border-radius: 22px;
    padding: 15px;
    position: fixed;
    box-shadow: 0px 0px 72px 0px rgba(34, 60, 80, 0.3);
    width: 92%;
    box-sizing: border-box;
    max-width: 1012px;
    max-height: 60px;
    transform: translate(0px, -40px);
    border: 1px solid #cc6666;

    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(2px);
  }
}
@media (min-width: 720px){
  toolbar {
    background-color: rgba(136, 0, 0, 0.40);
    color: #ffffff;
    font-size: x-large;
    text-overflow: ellipsis;
    font-family: Arial, sans-serif;
    font-weight: bold;
    text-align: center;
    overflow: hidden;
    white-space: nowrap;
    border-radius: 22px;
    padding: 15px;
    position: fixed;
    box-shadow: 0px 0px 72px 0px rgba(34, 60, 80, 0.3);
    width: 93%;
    box-sizing: border-box;
    max-width: 1012px;
    max-height: 60px;
    transform: translate(0px, -40px);
    border: 1px solid #cc6666;

    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(2px);
  }
}
@media (min-width: 800px){
  toolbar {
    background-color: rgba(136, 0, 0, 0.40);
    color: #ffffff;
    font-size: x-large;
    text-overflow: ellipsis;
    font-family: Arial, sans-serif;
    font-weight: bold;
    text-align: center;
    overflow: hidden;
    white-space: nowrap;
    border-radius: 22px;
    padding: 15px;
    position: fixed;
    box-shadow: 0px 0px 72px 0px rgba(34, 60, 80, 0.3);
    width: 95%;
    box-sizing: border-box;
    max-width: 1012px;
    max-height: 60px;
    transform: translate(0px, -40px);
    border: 1px solid #cc6666;

    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(2px);
  }
}
@media (min-width: 1078px){
  toolbar {
    background-color: rgba(136, 0, 0, 0.40);
    color: #ffffff;
    font-size: x-large;
    text-overflow: ellipsis;
    font-family: Arial, sans-serif;
    font-weight: bold;
    text-align: center;
    overflow: hidden;
    white-space: nowrap;
    border-radius: 22px;
    padding: 15px;
    position: fixed;
    box-shadow: 0px 0px 72px 0px rgba(34, 60, 80, 0.3);
    width: 100%;
    box-sizing: border-box;
    max-width: 1012px;
    max-height: 60px;
    transform: translate(0px, -40px);
    border: 1px solid #cc6666;

    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(2px);
  }
}
