toolbar {
  background-color: #880000;
  color: #ffffff;
  font-size: x-large;
  text-overflow: ellipsis;
  font-family: Arial, sans-serif;
  font-weight: bold;
  border-radius: 22px;
  padding: 20px;
  position: fixed;
  box-shadow: 0px 0px 72px 0px rgba(34, 60, 80, 0.3);
  width: 100%;
  box-sizing: border-box;
  max-width: 1012px;
}
