<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://cloudflare.com">
    <style>
        :root {
            color-scheme: light dark;
            
            font-family: Arial;
            background-color: light-dark(#ffffff, #333333);
            color: light-dark(#000000, #ffffff);
        }
    </style>
</head>
<body>
    <!-- Общий верхний код -->
    <header>Шапка сайта</header>

    <!-- Здесь будет контент конкретной страницы -->
    {{ content }}

    <!-- Общий нижний код -->
    <footer>Подвал сайта</footer>
</body>
</html>
